{% extends 'layout.html' %}
{% block title %}
    {% if coche %}
        Editar coche
    {% else %}
        Crear coche
    {% endif %}
{% endblock %}

{% block content%}
    {% if coche %}
        <h1>Editar el coche</h1>
    {% else %}
        <h1>Insertar un nuevo coche</h1>
    {% endif %}
    
    <form action="" method="POST">
        <label for="marca">Marca</label>
        <input type="text" name="marca"  {% if coche %} value="{{coche.1}}" {% endif %}/>
        <label for="modelo">Modelo</label>
        <input type="text" name="modelo" {% if coche %} value="{{coche.2}}" {% endif %}/>
        <label for="precio">Precio</label>
        <input type="number" name="precio" {% if coche %} value="{{coche.3}}" {% endif %}/>
        <label for="ciudad">Ciudad</label>
        <input type="text" name="ciudad" {% if coche %} value="{{coche.4}}" {% endif %}/>

        <input type="submit" value="Guardar"/>
    </form>
{% endblock %}